* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

html { background-color: #2e0500; }

#background-image {
	background-image: linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0,0.7) ),
	                  url("/images/splash/bowl-chicken-cuisine.jpg");
	width: calc(100% + 80px);
	height: calc(100% + 80px);
	top: -40px;
	left: -40px;
	position: fixed;
	background-position: center;
	background-size: cover;
	filter: blur(20px);
	z-index: -247247247;
}

/* Tab list */

#tab-list-wrapper {
	width: 250px;
	float: left;
	height: calc(100% - 80px);
}

#tab-list {
	list-style: none;
	padding: 0;
}

#tab-list li {
	color: white;
	padding: 35px;
	font-size: 1.3em;
	text-decoration: none;
	background: rgba(0,0,0,0.2);
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	z-index: 10;
}

#tab-list i {
	margin-right: 20px;
}

#tab-list li:not(.selected):hover {
	background: rgba(0,0,0,0.3);
}

#tab-list .selected {
	/*background: rgba(255,255,255,0.95);
	color: black;*/
	background: rgba(0,0,0,0.7);
}

/* Main content and page styles */

@keyframes pageIn {
	from {
		transform: translate(-30px);
		opacity: 0;
	} to {
		opacity: 1;
	}
}

@keyframes pageOut {
	from {
		opacity: 1;
	} to {
		opacity: 0;
	}
}

.page-cover {
	margin: -50px;
	background-color: rgba(255,255,255,0.7);
	width: 1000px;
	height: calc(100% - 80px);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.page-cover .lds-ring {
	position: relative;
	left: 0;
	right: 0;
}

#main-content {
	height: calc(100% - 80px);
	width: calc(100% - 250px);
	background-color: rgba(255,255,255,0.95);
	float: right;
	border-top-left-radius: 10px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	overflow-y: scroll;
	padding: auto;
}

.page:not(.current-page) {
	display: none;
	animation: pageOut backwards 0.3s ease;
}

.current-page {
	animation: pageIn 0.3s ease forwards;
}

.page {
	font-family: "Helvetica Neue", "Helvetica", "Segoe UI", "Franklin Gothic", "Roboto", sans-serif;
	width: 1000px;
	/*background: white;*/
	min-height: 100%;
	margin: auto;
	padding: 50px;
	display: flex;
	flex-direction: column;
}

.page .header {
	font-size: 3em;
	font-weight: bold;
	margin-left: 50px;
	margin-bottom: 50px;
}

.page p {
	margin-bottom: 1em;
}

/* Header */

#header {
	width: 100%;
	height: 80px;
	display: flex;
	padding: 10px 20px 10px 20px;
	align-items: center;
	color: white;
}

#header * {
	margin-right: 20px;
}

#main-logo {
	font-size: 2em;
}

#restaurant-name {
	font-size: 1.4em;
}

#spacer {
	margin: none;
	flex-grow: 1;
}

#help {
	cursor: pointer;
}

#logout {
	margin-right: 0 !important;
	cursor: pointer;
}

/* Modal elements */

@keyframes modalBg {
	from {
		background-color: none;
		backdrop-filter: none;
		-webkit-backdrop-filter: none;
		display: none;
	} to {
		background-color: rgba(0,0,0,0.5);
		backdrop-filter: blur(20px) saturate(20%);
		-webkit-backdrop-filter: blur(20px) saturate(20%);
	}
}

@keyframes modalIn {
	from {
		transform: translateY(-30px);
		opacity: 0;
	} 50% {
		transform: translateY(-5px);
	} to {
		opacity: 1;
	}
}

.shown {
	display: block !important;
}

#modal.shown {
	animation: modalIn 0.3s ease forwards;
}

#modal-cover.shown {
	animation: modalBg 0.3s ease forwards;
}

#modal-cover {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	align: center;
	display: none;
}

#modal {
	width: 500px;
	max-height: 80%;
	min-height: 300px;
	border-radius: 5px;
	background-color: white;
	position: fixed;
	padding: 20px;
	left: 0;
	right: 0;
	margin: 5% auto auto auto;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
	font-family: "Helvetica Neue", "Helvetica", "Segoe UI", "Roboto", sans-serif;
	overflow-y: auto;
}

#modal-close {
	cursor: pointer;
}

#modal-title {
	font-weight: bold;
	font-size: 2em;
}

#modal-header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

#modal-close {
	font-size: 1.5em;
}

#modal-header * {
	margin-right: 20px;
}

#modal-content {
	padding: 10px;
}

/* Data tables */

.data-table {
	border-spacing: 0;
	width: 100%;
	text-align: center;
}

.data-table thead td {
	font-weight: bold;
	border-bottom: 1px solid gray;
}

.data-table thead td:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
}

.data-table td {
	margin: 0;
	padding: 10px;
}

.data-table tbody tr:hover {
	background-color: rgba(0,0,0,0.1);
	cursor: pointer;
}

.sorting-by {
	background-color: rgba(0,0,0,0.2);
}

.dish-image {
	height: 50px;
}

/* Form elements */

@keyframes borderfade {
	to { border-bottom: 1px solid skyblue; }
}

.textbox {
	background-color: rgba(0,0,0,0);
	height: 2em;
	outline: none;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #b0b3b7;
	padding: 5px;
	font-size: 1em;
	font-family: inherit;
}

.textbox:focus {
	animation: 0.5s borderfade ease forwards;
}

.filters-box {
	background-color: lightgray;
	margin-bottom: 50px;
	padding: 20px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.searchbox {
	min-width: 60%;
}

.dateIn {
	text-align: center;
}

#orders-completion, #orders-dates {
	margin-bottom: 20px;
}

.filters-box div * {
	margin-right: 10px;
}

.filters-box div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.orders-filter-title {
	font-weight: bold;
}

.edit-form {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.edit-form * {
	margin-bottom: 10px;
}

.edit-form div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 0;
}

.edit-form div * {
	flex-grow: 1;
}

.edit-form div *:not(:last-child) {
	margin-right: 10px;
}

.edit-form label {
	margin-bottom: 0;
	font-size: 0.9em;
	margin-left: 5px;
}

#user-edit-access {
	max-width: 150px;
}

#user-edit-time {
	max-width: 150px;
}

template {
	display: none;
}

/* Home IP box */

#ip-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#ip-box span {
	font-size: 1.3em;
	margin-bottom: 20px;
}

#ip {
	font-size: 3em !important;
	font-weight: bold;
}

/* @media queries */

@media (max-width: 1300px) {
	#main-content {
		width: 100%;
		border-top-right-radius: 10px;
	}

	#modal {
		max-width: 90%;
	}

	.page {
		width: 100%;
		padding: 30px;
	}

	.page .header {
		margin-bottom: 30px;
	}

	.filters-box {
		margin-bottom: 30px;
	}

	#tab-list-wrapper {
		display: none;
	}

	#restaurant-name {
		display: none;
	}

	#main-logo {
		font-size: 1.5em;
	}
}