<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/style/common.css" />
		<link rel="stylesheet" href="/style/admin.css" />
		<link rel="stylesheet" href="/lib/fontawesome/css/all.min.css" />
		<link rel="stylesheet" href="/lib/balloon.min.css" />
		<!-- libraries -->
		<script type="text/javascript" src="/lib/js.cookie.js"></script>
		<script type="text/javascript" src="/lib/fuse.js"></script>
		<script type="text/javascript" src="/lib/ordersoft-client-js/orderSoft.js"></script>
		<!-- admin pages -->
		<script type="text/javascript" src="/admin-pages/homePage.js"></script>
		<script type="text/javascript" src="/admin-pages/ordersPage.js"></script>
		<script type="text/javascript" src="/admin-pages/usersPage.js"></script>
		<script type="text/javascript" src="/admin-pages/dishesPage.js"></script>
		<script type="text/javascript" src="/admin-pages/settingsPage.js"></script>
		<!-- main script -->
		<script type="text/javascript" src="/admin.js"></script>
		<title>OrderSoft Admin</title>
	</head>
	<body>
		<div id="modal-cover">
			<div id="modal">
				<div id="modal-header">
					<i id="modal-close" class="fas fa-chevron-left"></i>
					<span id="modal-title">Modal title</span>
				</div>
				<div id="modal-header-shadow"></div>
				<div id="modal-content">
					
				</div>
			</div>
		</div>

		<div id="background-image"></div>

		<div id="header">
			<span class="logo" id="main-logo">OrderSoft Admin</span>
			<span id="restaurant-name">Manmaruya Beverly Hills</span>
			<div id="spacer"></div>
			<span id="help">Help</span>
			<span id="logout">Log out</span>
		</div>

		<div id="main-content">
			<!-- Home page -->
			<div id="page-home" class="page">
				<div class="page-cover" id="page-home-cover">
					<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
				</div>
				<span class="header">Home</span>
				
				<div id="ip-box">
					<span>OrderSoft Server Address</span>
					<span id="ip" class="feature"></span>
					<span>Enter this into OrderSoft client applications</span>
				</div>

			</div>

			<!-- Users page -->
			<div id="page-users" class="page">
				<div class="page-cover" id="page-users-cover">
					<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
				</div>

				<span class="header">Users</span>

				<div id="users-filters" class="filters-box">
					<div>
						<input class="textbox searchbox" id="users-search" placeholder="Search users..." />
					</div>
					<div data-balloon="Change direction of sort when clicking column headers" data-balloon-pos="up" >
						<span>Sort direction:</span>
						<input type="radio" id="users-sort-asc" name="users-sort-dir" checked />
						<label for="users-sort-asc">Ascending</label>
						<input type="radio" id="users-sort-desc" name="users-sort-dir" />
						<label for="users-sort-desc">Descending</label>
					</div>
					<div>
						<button id="users-refresh-button">Refresh</button>
					</div>
				</div>

				<button class="btn-add" id="btn-new-user">Register new user</button>

				<table class="data-table" id="users-table">
					<thead>
						<td title="Sort by username" id="users-th-name">Username</td>
						<td title="Sort by access level" id="users-th-access">Access level</td>
						<td title="Sort by date added" id="users-th-added">Date added</td>
					</thead>
					<tbody id="users-table-body">
					</tbody>
				</table>

			</div>

			<!-- Dishes page -->
			<div id="page-dishes" class="page">
				<div class="page-cover" id="page-dishes-cover">
					<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
				</div>
				<span class="header">Dishes</span>

				<div id="dishes-filters" class="filters-box">
					<div>
						<input class="textbox searchbox" id="dishes-search" placeholder="Search dishes..." />
					</div>
					<div data-balloon="Change direction of sort when clicking column headers" data-balloon-pos="up" >
						<span>Sort direction:</span>
						<input type="radio" id="dishes-sort-asc" name="dishes-sort-dir" checked />
						<label for="dishes-sort-asc">Ascending</label>
						<input type="radio" id="dishes-sort-desc" name="dishes-sort-dir" />
						<label for="dishes-sort-desc">Descending</label>
					</div>
					<div>
						<button id="btn-dishes-refresh">Refresh</button>
					</div>
				
				</div>

				<button class="btn-add" id="btn-new-dish">Add new dish</button>

				<table class="data-table" id="dishes-table">
					<thead>
						<td title="Sort by ID" id="dishes-th-id">Dish ID</td>
						<td title="Sort by name" id="dishes-th-name">Dish name</td>
						<td title="Sort by price" id="dishes-th-price">Base price</td>
						<td title="Sort by category" id="dishes-th-cat">Category</td>
					</thead>
					<tbody id="dishes-table-body">
					</tbody>
				</table>
			</div>

			<!-- Orders page -->
			<div id="page-orders" class="page">
				<div class="page-cover" id="page-orders-cover">
					<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
				</div>

				<span class="header">Orders</span>

				<div id="orders-filters" class="filters-box">
					<div id="orders-completion">
						<span class="orders-filter-title">Show: </span>
						<input id="chk-completed" type="checkbox" class="chk" />
						<label for="chk-completed">Completed orders</label>
						<input id="chk-paid" type="checkbox" class="chk" />
						<label for="chk-paid">Paid orders</label>
					</div>
					<div id="orders-dates">
						<label for="paidAfter" class="orders-filter-title">Paid between:</label>
						<input id="paidAfter" type="date" class="textbox dateIn" />
						<label for="paidBefore">and</label>
						<input id="paidBefore" type="date" class="textbox dateIn" />
					</div>
					<div data-balloon="Change direction of sort when clicking column headers" data-balloon-pos="up" >
						<span>Sort direction:</span>
						<input type="radio" id="orders-sort-asc" name="orders-sort-dir" checked />
						<label for="orders-sort-asc">Ascending</label>
						<input type="radio" id="orders-sort-desc" name="orders-sort-dir" />
						<label for="orders-sort-desc">Descending</label>
					</div>
					<div id="orders-refresh">
						<button id="orders-refresh-button">Refresh</button>
					</div>
				</div>
				
				<table class="data-table" id="orders-table">
					<thead>
						<td title="Sort by table number" id="orders-th-tableNum">Table number</td>
						<td title="Sort by time submitted" id="orders-th-timeSub">Time submitted</td>
						<td title="Sort by time completed" id="orders-th-timeCom">Time completed</td>
						<td title="Sort by time paid" id="orders-th-timePaid">Time paid</td>
						<td title="Sort by amount paid" id="orders-th-amtPaid">Amount paid</td>
					</thead>
					<tbody id="orders-table-body">
					</tbody>
				</table>
			</div>

			<!-- Settings page -->
			<div id="page-settings" class="page">
				<div class="page-cover" id="page-settings-cover">
					<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
				</div>
				<span class="header">About</span>
				<div id="about-container">
					<span class="logo" id="about-logo">OrderSoft</span>
					<p>
						Version 1.0.0
					</p>
					<br />
					<p>
						Admin interface, server and .NET library by Eddie Qi
					</p>
					<p>
						POS interface and JavaScript library by Jason Xiao
					</p>
					<p>
						Kitchen interface by Henry Deng
					</p>
					<p>
						Waiter interface by Ethan Tay
					</p>
					<br />
					<p>
						Libraries in use: Fuse.js, Balloon.css, FontAwesome, Cookie.js
					</p>
					<br />
					<p>
						Copyright © Respected Knight Software LLC 2018
					</p>
					<p>
						Distributed under an MIT licence
					</p>
				</div>
			</div>
		</div>

		<div id="tab-list-wrapper">
			<ul id="tab-list">
				<li id="tab-home">
					<i class="fas fa-home fa-fw"></i>
					Home
				</li>
				<li id="tab-users">
					<i class="fas fa-users fa-fw"></i>
					Users
				</li>
				<li id="tab-dishes">
					<i class="fas fa-utensils fa-fw"></i>
					Dishes
				</li>
				<li id="tab-orders">
					<i class="fas fa-clipboard fa-fw"></i>
					Orders
				</li>
				<li id="tab-settings">
					<i class="fas fa-info-circle fa-fw"></i>
					About
				</li>
			</ul>
		</div>

		<!-- Modal templates -->
		<template id="template-edit-user">
			<div id="user-form" class="edit-form">
				<div data-balloon="User ID - auto-generated; do not set" data-balloon-pos="up">
					<input class="textbox" placeholder="User ID" id="user-edit-id" disabled="true"></input>
				</div>
				<div data-balloon="Access levels: 0 for waiter, 10 for cook, 15 for cashier, 20 for head chef, 30 for owner" data-balloon-pos="up">
					<input class="textbox" placeholder="Name" id="user-edit-name"></input>
					<input class="textbox" type="number" placeholder="Access level" id="user-edit-access"></input>
				</div>
				<div data-balloon="Type old password here if changing existing password" data-balloon-pos="up">
					<input class="textbox" type="password" placeholder="Old password" id="user-edit-pass-old"></input>
				</div>
				<div data-balloon="Enter and confirm new password" data-balloon-pos="up">
					<input class="textbox" type="password" placeholder="New password" id="user-edit-pass-new"></input>
					<input class="textbox" type="password" placeholder="Confirm password" id="user-edit-pass-new-conf"></input>
				</div>
				<label for="user-edit-date">Date added</label>
				<div data-balloon="Auto-generated; do not set" data-balloon-pos="up">
					<input type="date" class="textbox" id="user-edit-date" disabled="true"></input>
					<input type="time" class="textbox" id="user-edit-time" disabled="true"></input>
				</div>

				<span class="form-error"></span>
			</div>
			<button id="btn-user-edit">Edit/add</button>
			<button id="btn-user-remove">Remove user</button>
		</template>
		<template id="template-edit-dish">
			<div id="dish-form" class="edit-form">
				<div data-balloon="Dish ID - auto-generated; do not set" data-balloon-pos="up">
					<input class="textbox" placeholder="Dish ID" id="dish-edit-id" disabled="true"></input>
				</div>
				<div data-balloon="Set name of dish" data-balloon-pos="up">
					<input class="textbox" placeholder="Dish name" id="dish-edit-name"></input>
				</div>
				<div data-balloon="Set base price (left) and upgrade price (right). Upgrade price is the price added for each size upgrade." data-balloon-pos="up" data-balloon-length="fit">
					<span class="edit-sym">$</span>
					<input class="textbox" type="number" placeholder="Base price" id="dish-edit-basePrice" step="0.01"></input>
					<span class="edit-sym">$</span>
					<input class="textbox" type="number" placeholder="Upgrade price" id="dish-edit-upgPrice" step="0.01"></input>
				</div>
				<div data-balloon="Change category and sizes of dish. Sizes should be comma-separated" data-balloon-pos="up">
					<input class="textbox" id="dish-edit-cat" placeholder="Category"></input>
					<input class="textbox" id="dish-edit-sizes" placeholder="Sizes"></input>
				</div>
				<div data-balloon="Description of dish" data-balloon-pos="up">
					<input class="textbox" id="dish-edit-desc" placeholder="Dish description" />
				</div>
				<div data-balloon="Name of dish image. To upload place image with correct name in public/images." data-balloon-pos="up">
					<input class="textbox" id="dish-edit-img" placeholder="Image name" />
				</div>

				<span class="form-error"></span>
			</div>
			<button id="btn-dish-edit">Edit/add</button>
			<button id="btn-dish-remove">Remove dish</button>
		</template>
		<template id="template-edit-order">
			<div id="order-form" class="edit-form">
				<div data-balloon="Order ID - auto-generated; do not set" data-balloon-pos="up">
					<input class="textbox" placeholder="Order ID" id="order-edit-id" disabled="true"></input>
				</div>
				<div data-balloon="Dishes - comma-separated, sizes delimited by slashes" data-balloon-pos="up">
					<input class="textbox" placeholder="Dishes" id="order-edit-dishes"></input>
				</div>
				<div data-balloon="Notes on order" data-balloon-pos="up">
					<input class="textbox" placeholder="Notes" id="order-edit-notes"></input>
				</div>
				<label for="order-edit-sub-date">Time submitted</label>
				<div data-balloon="Time submitted - auto-generated; do not set" data-balloon-pos="up">
					<input class="textbox" type="date" id="order-edit-sub-date" disabled="true" />
					<input class="textbox" type="time" id="order-edit-sub-time" disabled="true" />
				</div>
				<label for="order-edit-made-date">Time completed</label>
				<div data-balloon="Time that the order was completed (made)" data-balloon-pos="up">
					<input class="textbox" type="date" id="order-edit-made-date" />
					<input class="textbox" type="time" id="order-edit-made-time" step="1" />
					<button id="order-clear-made">Clear</button>
				</div>
				<label for="order-edit-paid-date">Time paid</label>
				<div data-balloon="Time that the order was paid" data-balloon-pos="up">
					<input class="textbox" type="date" id="order-edit-paid-date" />
					<input class="textbox" type="time" id="order-edit-paid-time" step="1" />
					<button id="order-clear-paid">Clear</button>
				</div>
				<div data-balloon="Table number and amount paid (incl. tax + tips)" data-balloon-pos="up">
					<input class="textbox" type="number" placeholder="Table number" id="order-edit-tableNum"></input>
					$<input class="textbox" type="number" placeholder="Amount paid" id="order-edit-amtPaid" step="0.01"></input>
				</div>
				<div data-balloon="ID of server who submitted order (auto-generated)" data-balloon-pos="up">
					<input class="textbox" placeholder="Server ID" id="order-edit-server" disabled="true"></input>
				</div>

				<span class="form-error"></span>
			</div>
			<button id="btn-dish-edit">Edit order</button>
		</template>
		<template id="help-text">
			<h3>Welcome to OrderSoft Admin!</h3>
			<br />
			<p>
				Here, you can edit data stored within OrderSoft in real-time, with changes reflected throughout all of the client applications immediately. You are also able to edit some settings associated with your restaurant.
			</p>
			<br />
			<p>
				The interface is divided into five sections: 
				<ul>
					<li><b>Home</b>: provides useful info about the current state</li>
					<li><b>Users</b>: view & edit users of your system</li>
					<li><b>Dishes</b>: view, edit and add dishes to the menu</li>
					<li><b>Orders</b>: modify orders currently in the system and view historical orders</li>
					<li><b>About</b>: view about information</li>
				</ul>
			</p>
			<br />

			<h3>Home</h3>
			<br />
			<p>
				Here, the current OrderSoft Server IP is shown. This is used to initialise and log in to all the client applications. We reccommend that you leave this screen visible to the employees of the restaurant for easy access.
			</p>
			<br />

			<h3>Users</h3>
			<br />
			<p>
				On the Users screen, you can filter through and search all registered users in the database. Additionally, you have the capacity to edit, remove and add users.
			</p>
			<br />
			<p>
				To search, type a query in the search box. The table below should immediately update to reflect the results of your query.
			</p>
			<p>
				To sort by a specific column, click on the column header on the table. The table should immediately sort. To change the direction of the sort, use the "Ascending/Descending" radio buttons in the filters box.
			</p>
			<p>
				After any changes are made, the Refresh button will allow you to view them instantly.
			</p>
			<br />
			<p>
				By clicking on any user row, you can enter the "Edit user" screen and edit attributes of the user. Clicking the "Register new user" button will also open this screen to allow registration.
			</p>
			<p>
				Rolling over any field will give useful information about the field and its use.
			</p>
			<p>
				Once any required edits are made, press the "Edit/add" button to commit the changes. A success or failure message will appear above the button.
			</p>
			<p>
				With the "Edit user" page open, clicking "Remove user" will delete the current user, and they will no longer have access to the system.
			</p>
			<br />

			<h3>Dishes</h3>
			<br />
			<p>
				On the Dishes page, you can view the menu of the restaurant, as well as sorting, searching and editing dishes within the menu.
			</p>
			<br />
			<p>
				To search, type a query in the search box. The table below should immediately update to reflect the results of your query.
			</p>
			<p>
				To sort by a specific column, click on the column header on the table. The table should immediately sort. To change the direction of the sort, use the "Ascending/Descending" radio buttons in the filters box.
			</p>
			<p>
				After any changes are made, the Refresh button will allow you to view them instantly.
			</p>
			<br />
			<p>
				Clicking a dish row or the "New dish" button will open the "Edit dishes" form. Here, changes or additions to dishes can be made.
			</p>
			<p>
				Useful information on each field can be found by rolling over the field.
			</p>
			<p>
				By clicking the "Edit/add" button, any changes will be committed. Pressing the "Remove dish" button will delete the dish from the menu.
			</p>
			<br />

			<h3>Orders</h3>
			<br />
			<p>
				On the Orders screen, both current and historical orders can be seen. Orders can be edited, but cannot be created or deleted by design.
			</p>
			<br />
			<p>
				To sort by a specific column, click on the column header on the table. The table should immediately sort. To change the direction of the sort, use the "Ascending/Descending" radio buttons in the filters box.
			</p>
			<p>
				The checkboxes allow you to view orders that are open, unpaid or historical. When an order is completed, the dishes have left the kitchen, but the order remains unpaid. Paid orders are named historical orders.
			</p>
			<p>
				The date range selectors become available when the "Paid orders" checkbox is ticked - these are <i>only</i> used to filter historical orders. When deactivated, they have no effect on the displayed orders.
			</p>
			<p>
				After any changes are made, the Refresh button will allow you to view them instantly.
			</p>
			<br />
			<p>
				Editing orders allows you to set orders as completed/paid, or reverse the progress of an order i.e. if human error occurs. Any payments below the amount due (i.e. manager discounts) need to be made through this admin panel.
			</p>
			<p>
				Changes made here are immediately reflected on client programs.
			</p>
		</template>
	</body>
</html>