<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/style/common.css" />
		<link rel="stylesheet" href="/style/admin.css" />
		<link rel="stylesheet" href="/lib/fontawesome/css/all.min.css" />
		<link rel="stylesheet" href="/lib/balloon.min.css" />
		<!-- libraries -->
		<script type="text/javascript" src="/lib/js.cookie.js"></script>
		<script type="text/javascript" src="/lib/fuse.js"></script>
		<script type="text/javascript" src="/lib/ordersoft-client-js/orderSoft.js"></script>
		<!-- admin pages -->
		<script type="text/javascript" src="/admin-pages/homePage.js"></script>
		<script type="text/javascript" src="/admin-pages/ordersPage.js"></script>
		<script type="text/javascript" src="/admin-pages/usersPage.js"></script>
		<script type="text/javascript" src="/admin-pages/dishesPage.js"></script>
		<script type="text/javascript" src="/admin-pages/settingsPage.js"></script>
		<!-- main script -->
		<script type="text/javascript" src="/admin.js"></script>
		<title>OrderSoft Admin</title>
	</head>
	<body>
		<div id="modal-cover">
			<div id="modal">
				<div id="modal-header">
					<i id="modal-close" class="fas fa-chevron-left"></i>
					<span id="modal-title">Modal title</span>
				</div>
				<div id="modal-content">
					
				</div>
			</div>
		</div>

		<div id="background-image"></div>

		<div id="header">
			<span class="logo" id="main-logo">OrderSoft Admin</span>
			<span id="restaurant-name">Manmaruya Beverly Hills</span>
			<div id="spacer"></div>
			<span id="help">Help</span>
			<span id="logout">Log out</span>
		</div>

		<div id="main-content">
			<div id="page-home" class="page">
				<div class="page-cover" id="page-home-cover">
					<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
				</div>
				<span class="header">Home</span>
				
				<div id="ip-box">
					<span>OrderSoft Server Address</span>
					<span id="ip" class="feature"></span>
					<span>Enter this into OrderSoft client applications</span>
				</div>

			</div>

			<div id="page-users" class="page">
				<div class="page-cover" id="page-users-cover">
					<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
				</div>

				<span class="header">Users</span>

				<div id="users-filters" class="filters-box">
					<div>
						<input class="textbox searchbox" id="users-search" placeholder="Search users..." />
					</div>
					<div>
						<button id="users-refresh-button">Refresh</button>
					</div>
				</div>

				<button class="btn-add" id="btn-new-user">Register new user</button>

				<table class="data-table" id="users-table">
					<thead>
						<td title="Sort by username" id="users-th-name">Username</td>
						<td title="Sort by access level" id="users-th-access">Access level</td>
						<td title="Sort by date added" id="users-th-added">Date added</td>
					</thead>
					<tbody id="users-table-body">
					</tbody>
				</table>

			</div>

			<div id="page-dishes" class="page">
				<div class="page-cover" id="page-dishes-cover">
					<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
				</div>
				<span class="header">Dishes</span>

				<div id="dishes-filters" class="filters-box">
					<div>
						<input class="textbox searchbox" id="dishes-search" placeholder="Search dishes..." />
					</div>
					<div data-balloon="Change direction of sort when clicking column headers" data-balloon-pos="up" >
						<span>Sort direction:</span>
						<input type="radio" id="dishes-sort-asc" name="dishes-sort-dir" />
						<label for="dishes-sort-asc">Ascending</label>
						<input type="radio" id="dishes-sort-desc" name="dishes-sort-dir" value="true" />
						<label for="dishes-sort-desc">Descending</label>
					</div>
					<div>
						<button id="btn-dishes-refresh">Refresh</button>
					</div>
				
				</div>

				<button class="btn-add" id="btn-new-dish">Add new dish</button>

				<table class="data-table" id="dishes-table">
					<thead>
						<td title="Sort by ID" id="dishes-th-id">Dish ID</td>
						<td title="Sort by name" id="dishes-th-name">Dish name</td>
						<td title="Sort by price" id="dishes-th-price">Base price</td>
						<td title="Sort by category" id="dishes-th-cat">Category</td>
					</thead>
					<tbody id="dishes-table-body">
					</tbody>
				</table>
			</div>

			<div id="page-orders" class="page">
				<div class="page-cover" id="page-orders-cover">
					<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
				</div>

				<span class="header">Orders</span>

				<div id="orders-filters" class="filters-box">
					<div id="orders-completion">
						<span class="orders-filter-title">Show: </span>
						<input id="chk-completed" type="checkbox" class="chk" />
						<label for="chk-completed">Completed orders</label>
						<input id="chk-paid" type="checkbox" class="chk" />
						<label for="chk-paid">Paid orders</label>
					</div>
					<div id="orders-dates">
						<label for="paidAfter" class="orders-filter-title">Paid between:</label>
						<input id="paidAfter" type="date" class="textbox dateIn" />
						<label for="paidBefore">and</label>
						<input id="paidBefore" type="date" class="textbox dateIn" />
					</div>
					<div id="orders-refresh">
						<button id="orders-refresh-button">Refresh</button>
					</div>
				</div>
				
				<table class="data-table" id="orders-table">
					<thead>
						<td title="Sort by table number" id="orders-th-tableNum">Table number</td>
						<td title="Sort by time submitted" id="orders-th-timeSub">Time submitted</td>
						<td title="Sort by time completed" id="orders-th-timeCom">Time completed</td>
						<td title="Sort by time paid" id="orders-th-timePaid">Time paid</td>
						<td title="Sort by amount paid" id="orders-th-amtPaid">Amount paid</td>
					</thead>
					<tbody id="orders-table-body">
					</tbody>
				</table>
			</div>
			
			<div id="page-settings" class="page">
				<div class="page-cover" id="page-settings-cover">
					<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
				</div>
				<span class="header">Settings</span>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor sem, sollicitudin ut varius sit amet, porta vitae odio. Aenean eu nulla semper, mattis turpis non, egestas ante. Donec congue eleifend orci, in convallis nunc sollicitudin a. Ut ornare vulputate mi sit amet dapibus. Nam aliquam, felis ac aliquet porttitor, purus nisl efficitur dui, eu condimentum nisl nulla in eros. Integer auctor sit amet velit ac finibus. Nullam efficitur ante eu purus consequat, at euismod tortor faucibus. Ut non fringilla nunc, porta pellentesque eros. Sed et maximus velit.</p>

				<p>Phasellus elementum ullamcorper leo, non convallis nibh fermentum vel. Curabitur ac volutpat nunc, eget laoreet eros. In nisi turpis, interdum at interdum nec, consectetur in metus. Sed malesuada auctor enim vitae tincidunt. Sed varius dictum est, non aliquam arcu efficitur ut. Nullam pharetra orci accumsan augue dictum congue. Phasellus scelerisque cursus finibus. Donec auctor odio at aliquam tempor. Nullam ut sapien tincidunt, sagittis arcu at, ultrices sapien. Nam fermentum, sem quis congue viverra, elit elit accumsan leo, sit amet ultrices arcu nisl id risus. Cras elementum ipsum fermentum dui pharetra molestie. Maecenas sagittis congue dolor. Nam cursus aliquam accumsan.</p>

				<p>Praesent ullamcorper orci pulvinar varius iaculis. Praesent tristique neque nulla, nec dignissim metus sodales in. Nunc scelerisque commodo dolor, bibendum dictum nisi lobortis nec. Proin sit amet porta sapien. Donec nec dolor dignissim, mollis turpis eu, eleifend tortor. Aenean sed finibus turpis. Nulla quis turpis arcu. Duis eget facilisis nibh, vel rhoncus turpis. Cras condimentum eros ut arcu accumsan congue. Maecenas vitae orci pellentesque, luctus nisi vitae, sagittis diam. Ut libero leo, cursus vitae tellus non, iaculis volutpat est. Suspendisse rutrum ligula in lectus feugiat rutrum. Praesent molestie, turpis sit amet ultricies aliquam, tellus massa gravida tortor, accumsan finibus orci arcu ut leo.</p>

				<p>Sed efficitur ultrices risus in pulvinar. Phasellus rhoncus euismod elementum. Nam et pellentesque odio, eu accumsan tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam porta lobortis faucibus. Aenean auctor dui eu neque mollis maximus. Sed sit amet neque turpis. Mauris id iaculis nulla. In feugiat tincidunt fermentum.</p>

				<p>In varius sollicitudin arcu, nec dignissim massa porta id. Mauris vel risus laoreet mauris pulvinar egestas. Ut ultricies iaculis tempus. Nullam porta viverra convallis. Vestibulum non laoreet nisl, vel pulvinar massa. Phasellus blandit nisi id molestie condimentum. Nam finibus maximus blandit. Nunc fermentum orci at augue imperdiet pretium. Ut semper vehicula bibendum. Morbi consectetur ut felis in pretium.</p>

				<p>Vivamus hendrerit sodales ullamcorper. Cras iaculis dui in urna condimentum imperdiet. Nam magna urna, sodales in lorem non, maximus convallis leo. Donec bibendum, ligula eu molestie dapibus, felis ante ultrices libero, nec fringilla justo lorem in mauris. Morbi non dolor vehicula, porta ante a, imperdiet velit. Vestibulum in scelerisque metus, eget fermentum purus. Proin sit amet metus dui. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam blandit tortor vitae rutrum laoreet. Pellentesque ex sem, aliquet eu lorem ac, luctus egestas risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin at ligula maximus odio rutrum porta. Proin in tempus augue. Cras at nunc eu sapien cursus molestie ut sed dolor. Praesent non aliquet nisl. Curabitur pharetra, magna accumsan sagittis vestibulum, sapien nisl aliquet tortor, ut congue lacus dolor sed metus.</p>

				<p>Quisque ut egestas nunc, vehicula tincidunt nulla. Mauris vel rutrum arcu, id pellentesque nunc. Morbi quis mi pulvinar, consequat ante sit amet, porta arcu. Sed ultricies facilisis lorem, et mattis enim interdum eu. Nulla ac porta purus, sit amet lacinia dui. Fusce at interdum lectus. Nam interdum tincidunt dui, quis consequat ipsum. Aenean a nunc nec lorem scelerisque maximus at a mauris. Integer eu euismod leo. Suspendisse ante est, lacinia sagittis ante eget, volutpat facilisis tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi. Sed scelerisque sem et pharetra rhoncus. Donec rhoncus orci sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula non arcu in interdum.</p>

				<p>Curabitur luctus augue at consequat tincidunt. Vestibulum ac venenatis erat. Nulla ultrices varius sem, vitae blandit eros finibus eu. In nec neque augue. In accumsan aliquet ligula, sit amet mattis neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mi nunc, tincidunt at orci ut, euismod pharetra sem. Etiam accumsan accumsan felis eget euismod. Ut ornare, nulla iaculis feugiat condimentum, ipsum sapien efficitur augue, vel ultrices erat risus ac est. Nulla facilisi. Aliquam erat volutpat. Praesent a sodales tellus. Sed efficitur vel est ut porta.</p>
			</div>
		</div>

		<div id="tab-list-wrapper">
			<ul id="tab-list">
				<li id="tab-home">
					<i class="fas fa-home fa-fw"></i>
					Home
				</li>
				<li id="tab-users">
					<i class="fas fa-users fa-fw"></i>
					Users
				</li>
				<li id="tab-dishes">
					<i class="fas fa-utensils fa-fw"></i>
					Dishes
				</li>
				<li id="tab-orders">
					<i class="fas fa-clipboard fa-fw"></i>
					Orders
				</li>
				<li id="tab-settings">
					<i class="fas fa-cog fa-fw"></i>
					Settings
				</li>
			</ul>
		</div>

		<!-- Modal templates -->
		<template id="template-edit-user">
			<div id="user-form" class="edit-form">
				<div data-balloon="User ID - auto-generated; do not set" data-balloon-pos="up">
					<input class="textbox" placeholder="User ID" id="user-edit-id" disabled="true"></input>
				</div>
				<div data-balloon="Access levels: 0 for waiter, 10 for cook, 15 for cashier, 20 for head chef, 30 for owner" data-balloon-pos="up">
					<input class="textbox" placeholder="Name" id="user-edit-name"></input>
					<input class="textbox" type="number" placeholder="Access level" id="user-edit-access"></input>
				</div>
				<div data-balloon="Set new password by typing new password & old password (if changing)" data-balloon-pos="up">
					<input class="textbox" type="password" placeholder="Old password" id="user-edit-pass-old"></input>
					<input class="textbox" type="password" placeholder="New password" id="user-edit-pass-new"></input>
				</div>
				<label for="user-edit-date">Date added</label>
				<div data-balloon="Auto-generated; do not set" data-balloon-pos="up">
					<input type="date" class="textbox" id="user-edit-date" disabled="true"></input>
					<input type="time" class="textbox" id="user-edit-time" disabled="true"></input>
				</div>

				<span class="form-error"></span>
			</div>
			<button id="btn-user-edit">Edit/add</button>
			<button id="btn-user-remove">Remove user</button>
		</template>
		<template id="template-edit-dish">
			<div id="dish-form" class="edit-form">
				<div data-balloon="Dish ID - auto-generated; do not set" data-balloon-pos="up">
					<input class="textbox" placeholder="Dish ID" id="dish-edit-id" disabled="true"></input>
				</div>
				<div data-balloon="Set name of dish" data-balloon-pos="up">
					<input class="textbox" placeholder="Dish name" id="dish-edit-name"></input>
				</div>
				<div data-balloon="Set base price (left) and upgrade price (right). Upgrade price is the price added for each size upgrade." data-balloon-pos="up" data-balloon-length="fit">
					<span class="edit-sym">$</span>
					<input class="textbox" type="number" placeholder="Base price" id="dish-edit-basePrice" step="0.01"></input>
					<span class="edit-sym">$</span>
					<input class="textbox" type="number" placeholder="Upgrade price" id="dish-edit-upgPrice" step="0.01"></input>
				</div>
				<div data-balloon="Change category and sizes of dish. Sizes should be comma-separated" data-balloon-pos="up">
					<input class="textbox" id="dish-edit-cat" placeholder="Category"></input>
					<input class="textbox" id="dish-edit-sizes" placeholder="Sizes"></input>
				</div>
				<div data-balloon="Description of dish" data-balloon-pos="up">
					<input class="textbox" id="dish-edit-desc" placeholder="Dish description" />
				</div>
				<div data-balloon="Name of dish image. To upload place image with correct name in public/images." data-balloon-pos="up">
					<input class="textbox" id="dish-edit-img" placeholder="Image name" />
				</div>

				<span class="form-error"></span>
			</div>
			<button id="btn-dish-edit">Edit/add</button>
			<button id="btn-dish-remove">Remove dish</button>
		</template>
		<template id="template-edit-order">
			<div id="order-form" class="edit-form">
				<div data-balloon="Order ID - auto-generated; do not set" data-balloon-pos="up">
					<input class="textbox" placeholder="Order ID" id="order-edit-id" disabled="true"></input>
				</div>
				<div data-balloon="Dishes - comma-separated, sizes delimited by slashes" data-balloon-pos="up">
					<input class="textbox" placeholder="Dishes" id="order-edit-dishes"></input>
				</div>
				<div data-balloon="Notes on order" data-balloon-pos="up">
					<input class="textbox" placeholder="Notes" id="order-edit-notes"></input>
				</div>
				<label for="order-edit-sub-date">Time submitted</label>
				<div data-balloon="Time submitted - auto-generated; do not set" data-balloon-pos="up">
					<input class="textbox" type="date" id="order-edit-sub-date" disabled="true" />
					<input class="textbox" type="time" id="order-edit-sub-time" disabled="true" />
				</div>
				<label for="order-edit-made-date">Time completed</label>
				<div data-balloon="Time that the order was completed (made)" data-balloon-pos="up">
					<input class="textbox" type="date" id="order-edit-made-date" />
					<input class="textbox" type="time" id="order-edit-made-time" step="1" />
					<button id="order-clear-made">Clear</button>
				</div>
				<label for="order-edit-paid-date">Time paid</label>
				<div data-balloon="Time that the order was paid" data-balloon-pos="up">
					<input class="textbox" type="date" id="order-edit-paid-date" />
					<input class="textbox" type="time" id="order-edit-paid-time" step="1" />
					<button id="order-clear-paid">Clear</button>
				</div>
				<div data-balloon="Table number and amount paid (incl. tax + tips)" data-balloon-pos="up">
					<input class="textbox" type="number" placeholder="Table number" id="order-edit-tableNum"></input>
					$<input class="textbox" type="number" placeholder="Amount paid" id="order-edit-amtPaid" step="0.01"></input>
				</div>
				<div data-balloon="ID of server who submitted order (auto-generated)" data-balloon-pos="up">
					<input class="textbox" placeholder="Server ID" id="order-edit-server" disabled="true"></input>
				</div>

				<span class="form-error"></span>
			</div>
			<button id="btn-dish-edit">Edit order</button>
		</template>
	</body>
</html>