<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/common.css" />
		<link rel="stylesheet" href="/admin.css" />
		<title>OrderSoft Admin - Home</title>
	</head>
	<body>
		<div id="background-image"></div>
		<div id="header">
			<span class="logo" id="main-logo">OrderSoft Admin</span>
			<span id="restaurant-name">Manmaruya Beverly Hills</span>
			<div id="spacer"></div>
			<span id="help">Help</span>
			<span id="logout">Log out</span>
		</div>
		<div id="main-content">
			<div class="page" id="page-home">
				<span class="header">Home</span>
				<p>Some content on the home page</p>
			</div>
		</div>
		<div id="tab-list-wrapper">
			<ul id="tab-list">
				<li class="selected">Home</li>
				<li>Users</li>
				<li>Dishes</li>
				<li>Orders</li>
				<li>Settings</li>
			</ul>
		</div>

	</body>
</html>