<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="common.css" />
		<link rel="stylesheet" href="login.css" />
	</head>
	<body>
		<span class="logo" id="main_logo">OrderSoft</span>
		<span id="restaurant_name">Restaurant Name</span>
		<form action="", method="post" id="login_box">
			<h1>Login</h1>

			<% if (message) { %>
			<div id="message"><%= message %></div>
			<% } %>
			
			<label for="login_username">Username</label>
			<input type="text" id="login_username" name="username" />
			
			<label for="login_password">Password</label>
			<input type="password" id="login_password" name="password" />
			
			<button type="submit">Login</button>
		</form>
	</body>
</html>