<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="common.css" />
		<link rel="stylesheet" href="login.css" />
		<title>OrderSoft Admin</title>
	</head>
	<body>
		<span class="logo" id="main_logo">OrderSoft Admin</span>
		<span id="restaurant_name">Manmaruya Beverly Hills</span>
		<form action="", method="post" id="login_box">
			<span id="login_title">Log in with your details</span>

			<% if (message) { %>
			<div id="message"><%= message %></div>
			<% } %>
			
			<input type="text" id="login_username" name="username" placeholder="Username" />
			
			<input type="password" id="login_password" name="password" placeholder="Password" />
			
			<button type="submit">Login</button>
		</form>
		<div id="bottom_spacer"></div>
		<div id="footer">
			<span id="footer_text">Copyright © 2018 Respected Knight Software LLC</span>
		</div>
	</body>
</html>