<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="common.css" />
	</head>
	<body>
		<form action="", method="post">
			<label for="login_username">Username</label>
			<input type="text" id="login_username" name="username" />
			<label for="login_password">Password</label>
			<input type="password" id="login_password" name="password" />
			<button type="submit">Login</button>
		</form>
		<% if (message) { %>
		<span style="color: red" id="message"><%= message %></span>
		<% } %>
	</body>
</html>